--upgrade pip
langchain==0.2.0
python-dotenv==1.0.0
pandas
mysql-connector-python
langchain-community
sentence-transformers
chromadb
openai
pysqlite3-binary
presidio-analyzer
presidio-anonymizer
pyspellchecker
textblob
nltk
spacy==3.7.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl
transformers
torch
sentencepiece
rerankers
py2neo
