langchain==0.2.0
pinecone-client==2.2.4
python-dotenv==1.0.0
langchain-community
sentence-transformers
chromadb
pysqlite3-binary
presidio-analyzer
presidio-anonymizer
pyspellchecker
textblob
